* {
    padding: 0;
    margin: 0;
}

/* .guest-login-bnt {
    margin-top: 20px;
} */

.link_button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: rgb(237, 237, 237);
    background-image: #f0f2f5;
    border: 1px solid rgb(102, 102, 102);
    margin-bottom: 20px;
}

.link_button:hover {
    background-color: rgb(165, 165, 165);
    color: white;

}

.owner-tab {
    display: flex;
    width: 20vw;
    min-width: 300px;
    height: 100vh;
    background-color: rgb(54, 48, 68);
    align-items: center;

}

.owner-tab h1 {
    margin-top: 10px;
    text-align: center;
}


.owner-tab .links {
    margin-top: 20px;
}

.links li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.links ol {
    list-style-type: disc;
}

.bnt-logout {
    display: flex;
    width: 50%;
    height: 35px;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(25, 22, 32);
    color: antiquewhite;
}

.main-content input {
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.login-div input {
    border-style: none;
    padding: 10px;
    padding-inline: 30px;
    border-radius: 5px;
    margin-bottom: 12px;
}



.register-div input {
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
}



.error-messages {
    text-align: center;
    margin-top: -8px;
    color: rgb(228, 3, 3);
    font-size: 14px;
    list-style: none;
}